div.ogone_redirect_message_bottom {
    font-size: 10px;
    padding: 5px;
}

div.ogone_redirect_form {
    padding: 30pt;
}

div.ogone_redirect_container {
    border: 1px solid #999;
    background-color: #e4e4e4;
}
